- name: Ensure firewalld service is enabled and running
  become: true
  systemd:
    name: firewalld
    state: started
    enabled: true

- name: Ensure kubernetes control node ports are open
  become: true
  firewalld:
    port: "{{ item }}"
    state: enabled
    permanent: true
    immediate: true
  loop: "{{ worker_fw_ports }}"
