- name: "Ensure firewalld is configured for worker"
  ansible.builtin.include_tasks:
    file: "{{ role_path }}/../common/tasks/configure_firewalld.yml"
  vars:
    fw_ports: "{{ worker_fw_ports }}"

- name: "Check if node has already joined the cluster"
  ansible.builtin.stat:
    path: /etc/kubernetes/kubelet.conf
  register: kubelet_conf

- name: "Ensure node is joined to the cluster"
  become: true
  ansible.builtin.command:
    cmd: "{{ hostvars['localhost']['kubeadm_join_cmd'] }}"
  when: not kubelet_conf.stat.exists

- name: "Request master to label this node as a worker"
  ansible.builtin.command:
    cmd: "kubectl label node {{ ansible_facts['hostname'] }} node-role.kubernetes.io/worker=worker --overwrite=true"
  register: label_results
  changed_when: "'not labeled' not in label_results.stdout"
  delegate_to: "{{ item }}"
  loop: "{{ groups['masters'] }}"
  ignore_errors: true

- name: "Ensure that labelling succeeded on at least one master"
  fail:
    msg: "Failed to label the node from any of the master nodes"
  when: (label_results.results | select('succeeded') | list | length) == 0
