- name: "Ensure swap is disabled"
  import_tasks: "./swap.yml"

- name: "Ensure kernel networking paramaters are configured"
  import_tasks: "./configure_kernel_params.yml"

- name: "Ensure SELinux is set to permissive"
  ansible.posix.selinux:
    state: permissive
    policy: targeted

- name: "Ensure firewalld is configured"
  import_tasks: "./configure_firewalld.yml"
  vars:
    fw_ports: "{{ common_fw_ports }}"

- name: "Ensure kubernetes is installed"
  import_tasks: "./k8s.yml"
