- name: "Check if Kubernetes cluster is already initalized"
  stat:
    path: "/etc/kubernetes/admin.conf"
  register: kubeadmin_conf_stat

- name: "Copy kubeadm config to master host"
  copy:
    src: "kubeadm-config.yml"
    dest: "{{ ansible_facts['user_dir'] }}/kubeadm-config.yml"
    mode: "0644"
  when: not kubeadmin_conf_stat.stat.exists

- name: "Ensure kubeadm is initialized"
  become: true
  ansible.builtin.command:
    cmd: "kubeadm init --config={{ ansible_facts['user_dir'] }}/kubeadm-config.yml"
  when: not kubeadmin_conf_stat.stat.exists
