# - name: "Set DNS name"
#   ansible.builtin.lineinfile:
#     path: "/etc/hosts"
#     # TODO Fetch ip directly using vars
#     line: "192.168.122.10 cluster-endpoint"

- name: "Ensure firewalld is configured"
  import_tasks: "./firewalld.yml"

- name: "Initalize kubeadm"
  import_tasks: "./init-kubeadm.yml"

- name: "Ensure {{ ansible_user }} user can access kubectl command"
  import_tasks: "./init-local-user-kubectl.yml"

- name: "Ensure Calico CNI is installed"
  import_tasks: "./init-cni.yml"

- name: "Export join commands for workers"
  import_tasks: "./export-join-cmd.yml"
