- name: "Gather service facts"
  ansible.builtin.service_facts:

- name: "Ensure firewalld is configured for control plane"
  include_tasks:
    file: "{{ role_path }}/../common/tasks/configure_firewalld.yml"
  vars:
    fw_ports: "{{ control_node_fw_ports }}"
  when: "'firewalld.service' in ansible_facts.services"

- name: "Initalize kubeadm"
  import_tasks: "./init-kubeadm.yml"

- name: "Ensure {{ ansible_user }} user can access kubectl command"
  import_tasks: "./init-local-user-kubectl.yml"

- name: "Ensure Calico CNI is installed"
  import_tasks: "./init-cni.yml"

- name: "Export join commands for workers"
  import_tasks: "./export-join-cmd.yml"
